body {
    background-image: url("../images/background.jpg");
}

#title {
    text-align: center;
    padding: 10px;
    margin: 0px;
}

.paladins {
    margin-top: 13px;
}

#title-box, #instructions-box, #crystals, #tally, #player-score {
    border: 1px solid black;
    margin: 20px;
    margin-top: 0px;
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
}

.translucent {
    opacity: 0.8;
}

#title-box {
    margin-top: 20px;
}

#tally {
    border: none;
}

#random-number {
    border: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
}

#win-loss {
    border: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
}

#crystals {}

.click-crystals {
    height: 100%;
    width: 100%;
}